# Day 3

Write a program to find the sum of all elements in a list.

In [89]:
import math
import random

In [111]:
def list_sum(x):
    s=0
    if type(x)== list:
        try:
            x=list(map(float, x))
            for item in x:
                if math.isnan(item)==True:
                    print("One of the elements in the list is NaN")
                else:
                    s=sum(x)
        except ValueError:
            print("Error. The list contains an element that is not a valid number")
    else:
        print("The argument is not a list")
    return(s)

In [112]:
l1=[1,'g',6]
l2=random.sample(range(1,99),10)
print(l2)

[62, 80, 42, 32, 90, 72, 59, 4, 20, 40]

In [113]:
list_sum(l1)

Error. The list contains an element that is not a valid number

0

In [114]:
list_sum(l2)

501.0

In [115]:
l3=[float('nan'),7,8]

In [116]:
list_sum(l3)

One of the elements in the list is NaN

nan