# Day 1

Create a program that swaps the values of two variables.

Using function

In [44]:
def swap_values(val1, val2):
    temp=val1
    val1=val2
    val2=temp
    return(val1, val2)

In [45]:
a='ananas'
b='banana'

In [50]:
print("Values before the swap:",a,",", b)
a,b = swap_values(a,b)
print("Values after the swap:",a,",", b)

Values before the swap: ananas , banana
Values after the swap: banana , ananas

In [43]:


print(a)

banana

Using function that revites the global vaiables

In [23]:
def swap_values_global(val1, val2):
    print(val1,val2)
    temp=val1
    val1= val2
    val2=temp
    print(val1,val2)
    return(val1, val2)

Using tuple packing and sequence unpacking

In [17]:
a, b = b, a